<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanavi.security.mapper.SysUserTableMapper">

    <select id="loadUserByUsername" resultType="com.kanavi.security.entity.SysUserTable">
        SELECT
            `user_id`,
            `user_name`,
            `pass_word`,
            `description`,
            `state`
        FROM
            `security`.`sys_user_table`
        where user_name = #{username}
    </select>

    <select id="loadUserById" resultType="com.kanavi.security.entity.SysUserTable">
        SELECT
        `user_id`,
        `user_name`,
        `pass_word`,
        `description`,
        `state`
        FROM
        `security`.`sys_user_table`
        where user_id = #{id}
    </select>
</mapper>
